$Black: hsl(0, 0%, 0%);
$Dark-gray: hsl(0, 0%, 35%);

$body-background: #c4e1ff;
$body-background2: #ffffff7c;

$white: #ffffff;

$paragraph-secondary: #0505058f;

$card-background-color: #e9e9e991;

$shipping__icon-background-color: #eedeffe7;
$shipping__icon-fill: #9869c7;

$credit-card__icon-fill: #9d6806;
$credit-card-icon-background-color: #ffd59ed5;

$loop__icon-background-color: rgba(190, 243, 111, 0.796);
$loop__icon-fill: #006d00;
