.buttons {
    margin-top: 2rem;
}
.btn {
    border: 1px $Black solid;
    overflow: hidden;
    outline: none;
    font-size: 1.5rem;
    color: $white;
    background-color: $Black;
    padding: 2rem;
    // text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-weight: 500;
    margin: 1rem;
    position: relative;
    cursor: pointer;
    border-radius: 0.5rem;
    transition: 0.3s all;
    box-shadow: 0.2rem 0.2rem 0.5rem rgba($color: $Black, $alpha: 0.3);

    &:focus {
        box-shadow: 0.1rem 0.1rem 0.5rem rgba($color: $Black, $alpha: 0.3);
    }

    &:hover {
        background-color: #000000bb;
        color: #fff;
        border: 1px solid #000000bb;
    }

    .circle {
        position: absolute;
        background-color: $white;
        width: 10rem;
        height: 10rem;
        border-radius: 50%;
        transform: translate(-50%, -50%) scale(0);
        animation: scale 0.5s ease-in-out;
    }

    &__dark {
        background-color: $white;
        color: $Black;
        border: 1px solid $white;
    }
}

@keyframes scale {
    to {
        transform: translate(-50%, -50%) scale(3);
        opacity: 0;
    }
}
