*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    background-color: #c4e1ff;
    height: 100vh;
    font-family: "Commissioner", sans-serif;
    // @include respond(tab-port) {
    //     background-color: #ffffff7c;
    // }
}
.background {
    background-color: #ffffff7c;
    padding: 4rem;
    height: 90%;
    width: 90%;
    @include absCenter;
    display: grid;
    grid-template-columns: 60% 1fr;
    @include respond(tab-port) {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        height: 100%;
        width: 100%;
        padding: 0;
        background-color: transparent;
    }

    .orderSummary {
        @include respond(tab-port) {
            background-color: #ffffff7c;
            padding: 4rem 0;
        }
    }

    .paymentDetails {
        background-color: #ffffff;
        border-radius: 1rem;
    }
}
