.orderSummary {
    padding: 2rem 3rem;

    &__header {
        margin-left: 3rem;
        margin-bottom: 2rem;
    }

    &__step {
        display: flex;
        width: 100%;
        justify-content: space-around;
        align-items: center;
        height: 10rem;
        margin-top: 1rem;

        &--1 {
            display: flex;
            align-items: center;

            &--icon {
                .icons {
                    padding: 1rem;
                    height: 4.5rem;
                    width: 4.5rem;
                    border-radius: 50%;
                }
                .shipping__icon {
                    background-color: $shipping__icon-background-color;
                    fill: $shipping__icon-fill;
                }
                .credit-card__icon {
                    fill: $credit-card__icon-fill;
                    background-color: $credit-card-icon-background-color;
                }
                .loop__icon {
                    background-color: $loop__icon-background-color;
                    fill: $loop__icon-fill;
                }
            }
        }

        &--description {
            font-size: 1.5rem;
            padding: 1rem;
            color: $paragraph-secondary;
            cursor: pointer;
            &.paragraph__title {
                color: $Dark-gray;
            }
        }
    }
}

.shipping__items {
    margin-top: 3rem;
    .shipping__item {
        width: 90%;
        margin: 0 auto;
        &--header {
            display: flex;
            height: 5rem;
            background-color: $white;
            justify-content: space-between;
            border-radius: 1rem;
            align-items: center;
            padding: 0 2rem;
            margin-top: 1rem;

            .arrow__icon {
                transition: 0.5s all;
                width: 2rem;
                height: 2rem;
                cursor: pointer;

                &.up {
                    transform: rotate(180deg);
                }
            }
        }
        &.active {
            .shipping__item--lists {
                opacity: 1;
                display: block;
                visibility: visible;
            }
        }
        &--lists {
            padding: 2rem 1.5rem;
            opacity: 0;
            visibility: hidden;
            display: none;
        }
        &--list {
            display: flex;
            justify-content: space-between;
            font-size: 1.8rem;
            align-items: center;
            margin: 0 auto;
            &--name {
                font-size: 2rem;
            }
        }
    }
}

.total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0rem auto;
    margin-top: 4rem;
    width: 90%;
}
