.paymentDetails {
    padding: 5rem;

    @include respond(tab-port) {
        padding: 5rem 2rem;
    }
    .navbar {
        display: flex;
        justify-content: space-between;

        &__logo {
            display: flex;
            align-items: center;
            .heading__primary {
                font-size: 2rem;
            }
            .logo {
                width: 3rem;
            }
        }

        &__user {
            &--name {
                display: flex;
                background-color: $card-background-color;
                border-radius: 2rem;
                padding: 0.5rem;
                align-items: center;
                .chevron-down {
                    width: 2rem;
                    height: 2rem;
                    fill: $Dark-gray;
                    cursor: pointer;
                }

                .paragraph__title {
                    font-size: 1.5rem;
                    color: $Dark-gray;
                    margin-left: 1rem;
                }
                .user {
                    width: 4rem;
                    background-color: $card-background-color;
                    padding: -2rem;
                    border-radius: 50%;
                    margin-left: 1rem;
                }
            }
        }
    }

    .payment {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 3rem;
        @include respond(tab-port) {
            margin: 4rem 0;
        }

        .secure {
            display: flex;
            margin-top: 1rem;
            @include respond(tab-port) {
                margin-left: 4rem;
            }
            .lock {
                width: 2rem;
                height: 2rem;
                margin-top: 0.5rem;
                margin-right: 0.5rem;
            }
            .paragraph__secondary {
                line-height: 2rem;
                margin-left: -1rem;
                @include respond(tab-port) {
                    br {
                        display: none;
                    }
                }
            }
        }

        &Methods {
            display: flex;
            margin-bottom: 1.5rem;
            &__card {
                color: $Dark-gray;
                font-weight: 700;
            }
            &__paypal {
                margin: 0 5rem;
            }
        }
    }
    .hr {
        border: 0;
        height: 0;
        border: 1px solid #eee;
        box-sizing: content-box;
        margin-bottom: 2rem;
        @include respond(tab-port) {
            margin-bottom: 3rem;
        }
    }

    .cards {
        display: grid;
        grid-template-columns: 35% 1fr;

        .card {
            display: grid;
            grid-template-rows: repeat(3, 1fr);
            grid-row-gap: 1rem;

            &__img {
                width: 70%;
                height: 11rem;
            }
        }
    }
}

.cards__details {
    // background-color: rgb(189, 177, 201);

    .card__details {
        display: flex;
        align-items: flex-start;
        &--info {
            padding: 0.5rem 1rem;
            @include respond(tab-port) {
                margin-bottom: 3rem;
            }
        }
    }

    .card__details--number {
        display: flex;
        justify-content: space-between;
        background-color: $card-background-color;
        width: 95%;
        margin: 0 auto;
        padding: 1rem 2rem;
        border-radius: 1rem;
        .eye {
            width: 2rem;
            height: 2rem;
            fill: $Dark-gray;
        }
        .cc-mastercard {
            width: 2rem;
            height: 2rem;
            fill: red;
        }
    }

    .expires {
        display: flex;
        // justify-content: space-between;

        &__num {
            padding: 1rem;
        }

        .cvv {
            width: 11rem;
        }
    }
}
